[2015-07-27 23:35] donnemartin opened #1 "Add PostgreSQL installation"

[2015-07-27 23:37] donnemartin opened #2 "Add command-line options to determine which sections are installed"
Users can currently fork or clone the repo and tweak the .dots file directly, but it was suggested that it might be helpful to have this available as a command line argument.

[2015-07-28 02:07] donnemartin commented on #1
datastores.sh updated with 6c125fc243029b4b38e64a7ce1dd0d7953b5f260

Need to update README with install/config/usage instructions, example:

#### Create/Upgrade a Database

$ initdb /usr/local/var/postgres -E utf8

...

[2015-07-28 14:30] shaunstanislaus opened #3 "errorr running elasticsearch after installing with brew and mv doing your first 2 steps"
Hi i am using osx, I need help,

i did

[code]

after that i do

[code]
i get the major.minor version 51.0

[code]

[2015-07-29 03:22] donnemartin commented on #3
Hi Shaun,

Sorry you're having issues.  I'll try to take a closer look and report back in the next day or so.

-Donne

[2015-07-29 03:24] shaunstanislaus commented on #3
okay. Thank you

[2015-07-29 03:25] donnemartin commented on #3
Shaun, took a quick look...does this link help?

https://github.com/Homebrew/homebrew/issues/29910

[2015-07-29 11:31] donnemartin commented on #1
$ brew install postgresql
$ initdb /usr/local/var/postgres
$ cp /usr/local/Cellar/postgresql/9.2.4/org.postgresql.postgres.plist ~/Library/LaunchAgents/
$ launchctl load -w ~/Library/LaunchAgents/org.postgresql.postgres.plist

$ export CFLAGS=-Qunused-arguments
$ export CPPFLAGS=-Qunused-arguments
$ sudo pip install psycopg2

[2015-07-29 21:15] #2 closed

[2015-07-30 01:14] shaunstanislaus commented on #3
nope, it doesn't help. i am on osx 10.10.10, that guy was on 10.9.3 when he solve it and he is using java version 7, which is also the end of life cycle. i am using the latest version 8 java.

[2015-08-04 11:38] donnemartin commented on #3
Hi Shaun,

I just tested it and I'm not getting this error on a fresh install.  What happens on your machine if you don't do the following (or move it back to the original location):

$ mv /usr/local/bin/plugin /usr/local/bin/elasticsearch-plugin

Also, curious what is the output of:

$ java -version

-Donne

[2015-08-12 01:29] donnemartin commented on #3
Hi Shaun,

I haven't heard back and I'm not able to reproduce this bug on a clean install.  The install instructions provided in this repo are pretty vanilla...I suspect it might be specific to you environment, which might be better suited for a Stack Overflow type of question.

As a result, I'm going to close this bug.

-Donne

[2015-08-12 01:29] #3 closed

[2015-10-11 10:01] bmkmanoj opened #7 "Support for QuickLookPlugins"
This is an enhancement request.
Can you include the instructions to install the [quick look plugins](https://github.com/sindresorhus/quick-look-plugins) as a post installation/set up step? I have found this immensely helpful, as a developer.

[2015-10-12 01:15] donnemartin commented on #7
@bmkmanoj thanks for the tip, those look great.  Do you see this as an addition to the README, or something that should go into say, `brew.sh`?

[2015-10-12 03:33] bmkmanoj commented on #7
These can go to README but as brew.sh already includes many others, I think, it is better to keep these as well as part of that.

[2015-10-12 06:25] donnemartin commented on #7
@bmkmanoj sounds good.  Are you interested in submitting a pull request? :)

[2015-10-12 10:24] bmkmanoj commented on #7
I have submitted the pull request - modified the brew.sh. I forgot to modify the README though, you may update the README.md for the same.

[2015-10-16 21:22] donnemartin commented on #7
Note: See #8 for pull request.

[2015-10-19 14:25] donnemartin opened #9 "Add SAWS: A Supercharged AWS CLI to the AWS section"
### Link: https://github.com/donnemartin/saws

![](http://i.imgur.com/vzC5zmA.gif)

[![Build Status](https://travis-ci.org/donnemartin/saws.svg?branch=master)](https://travis-ci.org/donnemartin/saws) [![Documentation Status](https://readthedocs.org/projects/saws/badge/?version=latest)](http://saws.readthedocs.org/en/latest/?badge=latest) [![Dependency Status](https://gemnasium.com/donnemartin/saws

[2015-10-19 14:27] donnemartin opened #10 "Add Awesome AWS to the AWS section."
### Link: https://github.com/donnemartin/awesome-aws

<br/>
<p align="center">
  <img src="https://raw.githubusercontent.com/donnemartin/data-science-ipython-notebooks/master/images/aws.png">
</p>
<br/>

# Awesome AWS [![Awesome](https://cdn.rawgit.com/sindresorhus/awesome/d7305f38d29fed78fa85652e3a63e154dd8e8829/media/badge.svg)](https://github.com/sindresorhus/awesome)

A curated list of awesome

[2015-10-20 11:03] donnemartin commented on #7
Fixed with cc3ebf7b1b26e5c87139720bbd50ae923019fe4a.

[2015-10-20 11:03] #7 closed

[2015-10-20 11:12] donnemartin commented on #9
Fixed with 26822221ea5557b420792af46f23a9a2dd03d90b.

[2015-10-20 11:12] #9 closed

[2015-10-20 11:24] donnemartin commented on #10
Fixed with dc4cd9eb4cbbd96787ee14887af8c915c8d84b18.

[2015-10-20 11:24] #10 closed

[2015-10-20 20:24] jacks205 opened #11 "New docker release deprecates boot2docker and favors new Docker Machine"
https://docs.docker.com/installation/mac/

[2015-10-20 23:35] donnemartin commented on #11
@jacks205 thanks for the reminder.  I've recently migrated to docker machine already but still need to update the repo.

[2015-11-27 05:02] davegomez opened #12 "Using sudo to install brew apps?"
Hi, I was just reading the bash scripts and I noticed you use brew to install several apps while you keep alive the sudo session.

Is this ok?

Since I remember brew recommends do not use sudo to install apps, how you handle this?

[2015-12-10 10:35] donnemartin commented on #12
@davegomez the brew apps themselves are not installed using `sudo`.  in `brew.sh` there are only two lines that use `sudo`;

[code]

[code]

The keep alive is used so that you can chain the various dotfiles together for automation with [.dots](https://github.com/donnemartin/dev-setup/blob/master/.dots) without having to frequently re-enter credentials.

[2015-12-10 10:35] #12 closed

[2015-12-10 14:33] davegomez commented on #12
Awesome, thanks for the answer.

[2015-12-22 23:07] AlJohri opened #14 "pyenv over homebrew python"
Given that you're using rbenv, I was wondering why you're not using pyenv? I've found it to be invaluable especially working back and forth between python 2 and 3 pretty extensively. After all, we should all be starting new projects in python 3, right?

The source code is well maintained and nearly identical to rbenv. The rbenv HEAD is even merged in periodically.

The installation is entirely ide

[2015-12-24 11:17] donnemartin commented on #14
I do actually use `pyenv` regularly :)

I haven't had a chance to update the repo yet.  Awhile ago I had started collecting preliminary commands to install `pyenv` but it probably needs tweaks/polishing.

[code]

Sure, we might need to merge our commands together.

Thanks for the tip, I'll check it out!

[2016-02-04 00:57] seanknox opened #15 "sudo timeouts during installs"
Hi there,

Having run dev-setup on a few machines now (thanks! loving it so far) I've noticed that installs require typing the sudo password at various points, making unattended installs impossible.

A solution we used in [Boxen](https://github.com/boxen/boxen-web/blob/master/app/views/splash/script.sh.erb) for this problem was to ask for the user's sudo password at the beginning (using `sudo -p`)

[2016-02-04 09:06] donnemartin commented on #15
Hi Sean,

Great to hear from you again!  Appreciate your continued help with keeping dev-setup updated.

It's been awhile since I've done a clean install, although I think I recall on my runs the following was sufficient for an unattended install:

[code]

It seems this isn't working for all cases and we need additional keep alives?

---

On a perhaps related note, there are a couple scripts `aws.

[2016-02-04 19:06] seanknox commented on #15
Hey Donne,

I encountered password prompts in at least three places running `./dots all`:

* During installation of `bash_completion`:
[code]
* Installation of Alfred via `brew cask`
* Data store setup

[2016-02-04 19:21] seanknox opened #16 "node.js not installed as part of web.sh"
Heya,

After running `./dots all` I noticed node wasn't installed, though according to the [documentation](https://github.com/donnemartin/dev-setup#nodejs) it should be. Am I missing anything?

[2016-02-05 12:11] donnemartin commented on #15
Ok, thanks for the additional info.

Sure, that would be great!

[2016-02-05 12:19] donnemartin commented on #16
Doh, looks like I never removed the 'coming soon' from `.dots`:

https://github.com/donnemartin/dev-setup/blob/master/.dots#L88

This line `web.sh` should install it:

https://github.com/donnemartin/dev-setup/blob/master/web.sh#L21

Interested in a pull request to enable `web.sh` from `.dots`? :)

[2016-02-05 15:41] gristel opened #17 "[Question] Modification / Contribution"
Hi.

Let me start by saying that I really love what you've done (and are still doing) here.
I'm putting together a 'small' gitbook on Bash Scripting and I was wondering if I could use your project for demonstration purposes?
Mind that I will break it apart and most likely modify quite a few things, but it will end up doing the exact same thing, but with things I need on my dev machine added and th

[2016-02-07 11:21] donnemartin commented on #17
Hi Gristel,

Thanks for the feedback!  A gitbook on Bash scripting sounds great, sure feel free to use `dev-setup` as a resource.

I suppose you could either 1) clone and create a new repo or 2) fork.  Feel free to send me updates--pull requests on `dev-setup` are always welcome, the fork route might make it easier to sync changes.

-Donne

[2016-02-07 21:25] gristel commented on #17
Hi Donne,

I just finished the theoretical part. You have have a preview at https://gristel.gitbooks.io/bash-scripting/content/. Please tell me if you're OK with the credits or if you want me to add something.

For now, I will put the scripts in a new repo, because they will change drastically during the writing of the book. But you might want to follow me on that repo, so you can check progress a

[2016-02-07 22:11] gristel commented on #17
Hi Donne,

I will need a bit more time, since I just got notice from Ryan Chadwick that I'm not allowed to use any of the information on his website in any way in my gitbook. So I'm gonna rewrite the whole Shebang ;-)

[2016-02-09 09:01] donnemartin commented on #17
Ok, thanks for the update...I'm going to close this issue, please feel free to email me with questions/updates and good luck with the gitbook!

[2016-02-09 09:01] #17 closed

[2016-02-09 09:56] donnemartin opened #18 "Add Sublime Text 3 Monokai selection highlight color Install"
Manual steps:

* Command Palette
* Package Control: Install Package
* Install PackageResourceViewer
* PackageResourceViewer Open Resource
* Select theme

[code]

Automated steps:

* TBD

[2016-02-14 18:23] seanknox commented on #16
Can do!

On Fri, Feb 5, 2016 at 4:19 AM Donne Martin <notifications@github.com>
wrote:

[2016-04-19 01:24] royassaly opened #21 "Typo in README.md"
In the iTerm2 section (https://github.com/donnemartin/dev-setup#iterm2), where it says:

$ curl -O https://raw.githubusercontent.com/donnemartin/mac-dev-setup/master/.aliases

should be:

$ curl -O https://raw.githubusercontent.com/donnemartin/dev-setup/master/.aliases

Great README by the way.

[2016-04-19 02:34] donnemartin commented on #21
Thanks for the feedback, nice catch!  Interested in submitting a pull request? :)

[2016-04-19 03:13] royassaly commented on #21
Done!

[2016-04-21 02:20] donnemartin commented on #21
Fixed with https://github.com/donnemartin/dev-setup/pull/22.

[2016-04-21 02:20] #21 closed

[2016-05-28 21:19] dportabella opened #23 "why bootstraps copies also the installation scripts to the home directory?"
if I understood it corretly from README.MD, we can install like this:
[code]
and later when we need datastores, we run
[code]
I understand that `bootstrap` copies the dot files to the home directory, such as `.bash_profile` and `.exports`.
but why do you also copy the installation scripts, such as `.dots` and `datastores` to the home directory, if we are always going to execute them from `~/dev-se

[2016-05-29 00:17] dportabella opened #25 "for all installation scripts, exit immediately if a command exits with a non-zero status"
it's important for a script to exit immediately if a command exits with a non-zero status,
otherwise results are unpredictable.

this can be achieved by adding `set -e` at the beginning of all bash scripts

[2016-05-29 00:37] tomtom92 commented on #23
I was wondering this as well. I believe there is a note about an option to save the install files to another location, but this should be default.

[2016-06-01 02:03] donnemartin commented on #25
Today I learned about `set -e`, thanks :)

My only concern is that there seem to be some [edge cases](http://stackoverflow.com/questions/821396/aborting-a-shell-script-if-any-command-returns-a-non-zero-value) that I haven't thought through yet.

[2016-06-01 02:26] donnemartin commented on #23
Hmm, yes I can see this being confusing.

Interested in a PR?  I think you'd need to add the installation scripts to the excludes in `bootstrap.sh`:

https://github.com/donnemartin/dev-setup/blob/master/bootstrap.sh#L8-L9

[2016-06-01 06:38] dportabella commented on #25
welcome :)
you can also disable and re-enable this behaviour when you expect a command to produce a non-zero exit, by surrounding the command with a `set +e` and `set -e`.

[code]

[2016-06-11 11:39] #16 closed

[2016-06-18 21:41] audiolion opened #32 "Java 1.7+ Needed for brew.sh's Pour aircrack-ng"
==> Pouring aircrack-ng-1.1_2.el_capitan.bottle.tar.gz
==> Caveats
Run `airodump-ng-oui-update` install or update the Airodump-ng OUI file.
==> Summary
🍺  /usr/local/Cellar/aircrack-ng/1.1_2: 34 files, 952.8K
bfg: Java 1.7+ is required to install this formula.
You can install with Homebrew Cask:
  brew install Caskroom/cask/java

You can download from:
  http://www.oracle.com/technetwork/java/java

[2016-06-19 09:36] amitkverma opened #33 "Make a dev-step for linux also"

[2016-06-20 10:14] donnemartin commented on #33
Thanks for the suggestion!  I think the following setup scripts would be affected, the rest should work:

* osxprep.sh
* brew.sh

[2016-06-20 10:16] donnemartin commented on #32
Thanks for the report.  Java is installed later in the file, it seems this line might need to be moved up:

https://github.com/donnemartin/dev-setup/blob/master/brew.sh#L145

[2016-06-28 02:16] wildone commented on #32
ive fixed this in my pull request

[2016-08-11 22:16] dportabella opened #39 ".dots bootstrap should use the local directory instead of downloading from github"
`.dots` contains the following:
[code]
I use this scenario:
[code]
here I would expect to execute my personalized setup, as I am executing the setup from my `~/dev-setup` directory. Instead, `.dots` downloads the scripts again from your github repo.
this does not make sense to me. If that's the behaviour you want, then you should provide a `.dots` file separately from this repo. If I execute the s

[2016-11-12 23:53] damianesteban opened #49 "How to add zsh and oh-my-zsh?"
I need to setup 10 new Macs and I've looked at various solutions including boxen and other shell scripts.  This is by far the best solution (for my purposes) that I've seen.

If I wanted to install zsh and oh-my-zsh, what would I have to do (besides installing zsh via homebrew)?  Specifically, what's the best place to run the oh-my-zsh installer script?

Thanks for the great work.

[2016-11-13 12:53] donnemartin commented on #49
Hi @damianesteban, thanks for the feedback!

I'm not a Zsh user myself, but this seems like a good resource:

http://sourabhbajaj.com/mac-setup/iTerm/zsh.html

If you're doing a good amount of config like in the article above, you could create a new shell script to hold all of the commands, ie `zsh.sh`.   See similar scripts like `pydata.sh` or `aws.sh` as examples.

If you're using the `.dots` sc

[2016-11-13 20:36] damianesteban commented on #49
Thanks so much, this worked well.  I'll post the full solution so other zsh users can benefit from it when I clean it up.

[2016-11-23 08:51] desmo90 opened #50 "Update for MacOS"
Please add the macos dotfile and update the dot-script

[2016-11-23 12:51] donnemartin commented on #50
Hi @desmo90, are you seeing issues on macOS?  I'm running macOS (through an upgrade from 10.11 where I last ran the dev-setup scripts) and am not seeing issues.

[2016-11-24 19:55] mike-u opened #51 "'./.dots all' calls webdev.sh called instead of web.sh"
I was just trying to install all without changing anything and got:

[code]

I think it meant to call web.sh instead.

[2016-11-25 12:50] donnemartin commented on #51
Hi @mike-u, thanks for the report!  Seems I renamed webdev.sh to web.sh in the past but forgot to update the .dots script.  Are you interested in submitting a pull request for a fix?

[2016-11-25 12:52] donnemartin commented on #49
@damianesteban great, please feel free to submit a pull request once it's ready.

[2016-11-25 18:54] mike-u commented on #51
Sure, I'll do one now.

[2016-11-27 13:36] #51 closed

[2016-12-04 07:17] chenxingyu-cs opened #53 "Do I need to clean the repo files in ~ directory?"
I used bootstrap.sh and I found that all the repo files appeared in ~ directory. Do I need to delete these files?
Thank you!

[2016-12-04 11:05] donnemartin commented on #53
Hi @chenxingyu-cs, you can safely delete those files from the home directory and use the ones from the local dev-setup directory instead.

There's a PR in the works that will address this in the future: https://github.com/donnemartin/dev-setup/pull/42

[2016-12-04 11:05] #53 closed

[2016-12-04 11:18] donnemartin commented on #50
I suppose you might need to run:

     $ sudo chown -R $(whoami) /usr/local

[Reference](https://github.com/Homebrew/brew/issues/385)

[2016-12-09 23:30] #50 closed

[2016-12-10 13:17] donnemartin opened #55 "Add some gitsome details to Git section"
<p align="center">
  <img src="http://i.imgur.com/0SXZ90y.gif">
</p>
<p align="center">
  An <a href="https://github.com/integrations/gitsome">Official Integration</a> for GitHub and <a href="#for-github-enterprise-users">GitHub Enterprise</a>.
</p>

[gitsome repo](https://github.com/donnemartin/gitsome)

[2016-12-22 17:06] shawnzam opened #56 "Bash autocomplete does not work"
When I open terminal and try to tab to autocomplete
[code]

[2016-12-26 11:20] donnemartin commented on #56
Hi @shawnzam, can you provide more details on how you ran into this issue?  Was it from a fresh install of dev-setup?  After some config changes?

What platform are you running on?

Are you using bash 4?  https://github.com/spf13/cobra/issues/240

[2016-12-26 13:29] shawnzam commented on #56
I am sorry, I forget to update this, but a reinstall of the library resolved the issue. Kindly close this issue.

[2016-12-31 02:54] kaustavha opened #57 "Bug report: Removes applications"
This seemed to remove sublime text, chrome and spectacleapp that i'd installed prior to running .dots. It seems to remove non-default installed apps.

[2016-12-31 03:05] donnemartin commented on #56
Thanks for the reply!

[2016-12-31 03:05] #56 closed

[2016-12-31 03:15] donnemartin commented on #57
Hi @kaustavha, hmm that's odd, this is the first I've heard of this issue.  You mention Sublime and Chrome seem to have been removed--they are actually installed in the `Applications` folder with `brew.sh`:

Sublime: https://github.com/donnemartin/dev-setup/blob/master/brew.sh#L150
Chrome: https://github.com/donnemartin/dev-setup/blob/master/brew.sh#L157

These two apps don't appear for you in the

[2016-12-31 03:33] kaustavha commented on #57
I'm not 100% sure about spectacle since I just tried to reinstall it and it said it was in applications and asked for an override then started showing it.

My best guess was somehow brew.sh overwrote the chrome and sublime installs because after the restart the dock icons turned into question marks.

There was also a program installed called suspicious package.app which didn't seem to do anything,

[2016-12-31 04:03] kaustavha commented on #57
So i ran the cmd for installing chrome:
<img width="570" alt="screen shot 2016-12-30 at 8 57 17 pm" src="https://cloud.githubusercontent.com/assets/3248143/21575707/0b2a4f46-ced3-11e6-9cba-ecc8da932f09.png">
And got the same symptom, well actually chrome stopped working first and new websites wouldnt load, so i quit it then it wouldnt start again:
<img width="154" alt="screen shot 2016-12-30 at 8

[2016-12-31 04:11] donnemartin commented on #57
Nice work, thank you for the additional investigation and info! 👍

I'll try to take a closer look in the next couple of days, although it appears this might be something related to how `brew cask install` handles already existing apps, which might be outside the scope of `dev-setup`.

[2016-12-31 04:19] kaustavha commented on #57
Yea I agree.
I'll make a report on the cask page as well tomorrow and see if I can track
down the cause.
Although you can still failproof your application by checking to see if
things are already installed and skipping them. Dunno which is a better
solution yet, hopefully upstream in brew cask is easy fix.

On Fri, Dec 30, 2016 at 9:11 PM Donne Martin <notifications@github.com>
wrote:

[2017-01-03 15:32] markfink opened #58 "system unusable in case of not approved xcode license"
I like your scripts. dots is very easy to use and for me it provides an efficient way to setup my machine. Thank you for it!

However my first experience was not as smooth as it could be. I installed xcode to prepare for this. After that I ran dots and it complained a lot that it could not find brew. Unfortunately it did not stop and left my machine in a unusable state. Only when I attempted to ma

[2017-01-06 04:19] donnemartin commented on #57
This [Stack Overflow post](http://stackoverflow.com/questions/20802320/detect-if-homebrew-package-is-installed/20802425#20802425) seems to indicate this needs to be done per item installed.  `brew.sh` installs many packages and I'm not sure about doing this check for each one, if I understand the post correctly.

The install logic in the image you posted doesn't seem right to me:

* "Seems there i

[2017-01-06 04:28] donnemartin commented on #58
Hi @markfink thanks for the feedback and for reporting this issue.

I think it's odd that it could not find brew, before brew is used it should be installed [with this portion of `brew.sh`](https://github.com/donnemartin/dev-setup/blob/master/brew.sh#L13-L16).

Hmm perhaps you mean `osxprep.sh` now requires you to have homebrew installed?

Which OS version are you running?

[2017-01-06 16:41] markfink commented on #58
@donnemartin  hmmm, I meant that it was not possible to install brew because I did not approve the xcode license... That was definitely my fault. I just thought that it would be better if your script could just stop if brew is not available. I mean it is not really helpful to change the configuration if the binaries are missing. For example I could not even open a terminal after I ran ./.dots <...

[2017-01-06 22:14] kaustavha commented on #57
Not yet.

Thank you,
Kaustav

On Thu, Jan 5, 2017 at 11:19 PM, Donne Martin <notifications@github.com>
wrote:

[2017-01-09 03:10] donnemartin commented on #58
Ah I see, thanks for clearing that up!

I'll see if there's a good way to check for whether the Xcode license has been accepted and where to best put it.

Perhaps a note in the README.

[2017-04-02 21:16] josephmilla commented on #49
Check this out https://github.com/donnemartin/dev-setup/pull/62/commits/0e65d0c3e6df8192cc5e8705982ade0120f0e3a1

[2017-04-03 00:38] josephmilla opened #63 "Add Go installation"
It would be nice to have Go included in this package

[2017-04-03 00:39] josephmilla opened #64 "Rename osx to macos"

[2017-04-03 00:40] josephmilla opened #65 "Create a landing page"
Just for kicks

[2017-04-03 03:02] josephmilla opened #67 "Add Github Desktop"

[2017-04-04 04:43] josephmilla commented on #63
@donnemartin will create a PR for this over the weekend

[2017-04-04 04:43] josephmilla commented on #64
@donnemartin will create a PR for this over the weekend

[2017-04-04 04:43] josephmilla commented on #65
@donnemartin will create a PR for this over the weekend

[2017-04-04 04:43] josephmilla commented on #67
@donnemartin will create a PR for this over the weekend

[2017-04-08 02:01] donnemartin commented on #65
Hi @josephmilla, I'm not sure what you mean by create a landing page?  Do you mean a GitHub page?  If so, I don't currently have plans to go that route.

[2017-04-08 02:07] donnemartin commented on #67
Hi @josephmilla, I'd make it optional like we see [here](https://github.com/donnemartin/dev-setup/blob/master/brew.sh#L164-L165).

[2017-04-08 02:13] donnemartin commented on #63
Hi @josephmilla, I'm not sure if this is really a great fit for the current iteration of `dev-setup`.

You're encouraged to fork and maintain your own customized setup.

[2017-04-17 03:17] donnemartin opened #68 "Notice: Maintainer Temporarily Unavailable"
Hi Everyone,

I'll be temporarily unavailable starting April 17 and won't be able to respond to issues or pull requests.  I'm hoping I'll be available in a couple of weeks, but I might not be responsive for several weeks.

Sorry for the inconvenience.

-Donne

[2017-05-16 02:35] donnemartin commented on #68
Back now, although it might be a bit slow before I get all caught up.

[2017-05-16 02:35] #68 closed

[2017-06-24 09:58] nipunsadvilkar opened #71 "iTerm color theme support in Ubuntu Gnome-terminal"
@donnemartin : I really liked your iTerm2 theme, it's really beautiful. since I am using Ubuntu 14.04 with gnome-terminal, How can I get the same theme with font and colour in the gnome terminal?

[2017-07-09 00:05] donnemartin commented on #71
Hi @nipunsadvilkar thanks for the feedback!  Sorry for the delayed response, been super busy lately.  Unfortunately, my response isn't all that helpful--I'm not sure how to get the same theme in gnome terminal.

[2017-09-14 03:41] jpwalsh1 commented on #11
Update Docker install lines in brew.sh to the following to install current Docker.

`brew cask install --appdir="/Applications" docker`

[2017-09-14 03:44] jpwalsh1 commented on #63
If people are looking for a go install, I've added it to my fork but here is the code to share.

[code]

[2017-09-17 05:56] vishnu-iyer opened #73 "PyData.sh Script Permission Error in Mac"
While running pydata.sh script the installation fails for virtualenv and virtualenvwrapper.
It says Permission Denied.

 Is anyone facing this issue.?

[2017-09-18 23:45] donnemartin commented on #73
Hi @vishnu-iyer, can you post the output?

[2017-09-27 13:17] iyervishnu commented on #73
Hi @donnemartin
this is the output in the terminal after the installation is done.

[code]

Also I have attached the Output of Running ./.dots .pydata and ./.dots bootstrap osxprep brew osx

[dots.log](https://github.com/donnemartin/dev-setup/files/1337256/dots.log)
[pydata.log](https://github.com/donnemartin/dev-setup/files/1337257/pydata.log)

[2017-10-04 00:22] donnemartin commented on #73
Hmm, not sure why you're running into this issue.  Do these posts help?

* [Stack Overflow Post 1](https://stackoverflow.com/questions/29486113/problems-with-python-and-virtualenvwrapper-after-updating-no-module-named-virtu)
* [Stack Overflow Post 2](https://stackoverflow.com/questions/29149853/no-module-named-virtualenvwrapper)

[2017-10-07 06:49] vishnu-iyer commented on #73
No none of this steps were helpful.

Regards,
Vishnu Iyer
+91-9833207793
Please consider your environmental responsibility. Before printing this e-mail message, ask yourself whether you really need a hard copy.
IMPORTANT: The contents of this email and any attachments are confidential. They are intended for the named recipient(s) only. If you have received this email by mistake, please notify the

[2017-10-13 04:21] jpwalsh1 commented on #73
I just got errors on this script too setting up a new 2017 macbook pro running 10.12.6.

I needed to update the script in this spot to the following. Also forced the py2 virtualenv to use the homebrew python too just to be safe. This section updating helped it not try to update system files that wanted me to run the file as root/etc.

[code]
It's odd because I've ran this file on another, older ma

[2017-10-25 01:23] donnemartin commented on #73
@jpwalsh1 thanks for the follow-up!

@vishnu-iyer does that help address your issue?

[2018-02-12 09:39] sirech opened #79 "Running osx.sh left mac in an unusable state"
I ran the osx.h script on a freshly installed mac, and it instantly became unresponsive. Restarting didn't help, as it never got past the login screen (filevault on). I tried again commenting out the SSD parts and the screen parts, and it happened again.

I could not debug it further than this, as I had to basically reinstall OSX again

[2018-03-06 03:30] LeslieCheung95 opened #80 "/usr/bin/python: No module named virtualenvwrapper"
When I open the terminal, it will always show the following error message:

If Python could not import the module virtualenvwrapper.hook_loader,
check that virtualenvwrapper has been installed for
VIRTUALENVWRAPPER_PYTHON=/usr/bin/python and that PATH is
set properly.
-bash: declare: -A: invalid option
declare: usage: declare [-afFirtx] [-p] [name[=value] ...]
-bash: complete: -D: invalid option
c

[2018-03-18 12:48] donnemartin commented on #79
@sirech thanks for reporting, is anyone else seeing this?

[2018-03-18 12:49] #71 closed

[2018-03-29 23:06] omares opened #82 "Homebrew bundle"
Hey,

in my fork of dev-setup i added the feature to manage brew via [Homebrew Bundle](https://github.com/Homebrew/homebrew-bundle). As it depends on #81 i did not open a PR to avoid showing commits that are not related to the topic.
As soon as a decision is taken in regards of #81 i would like to contribute this change back to your repo if you are interested?

Checkout omares/dev-setup#2 for a cl

[2018-03-31 19:56] TheDom1 commented on #79
I had it happen the first time I installed as well. Had to wipe my Mac and start over.

[2018-04-05 21:16] TheDom1 commented on #80
I was running into the same issues and so I just installed anaconda and used conda's virtual environment to compensate. I had spent 3 hours on both virtualenv and virtualwrapper to no avail. Something is happening with PATH and even after I change it in my .zshrc and source the window, I still get the same problem(on mac). My suggestion until its addressed is conda just so you aren't messing with

[2018-04-11 03:02] gitetsu opened #84 "softwareupdate: invalid option -- v"
Hi.
In [osxprep.sh#L13](https://github.com/donnemartin/dev-setup/blob/master/osxprep.sh#L13]),
[code]

But I found,
[code]

Same error occured on `10.13.3`.

We might need detect osx version and switch options, or simply delete `-v`.

I don't have other osx so I cannot confirm from which version this error occurs.

[2018-06-02 20:04] mosn commented on #79
Yup me too. wish I've been here first. The problem seems to be with root permission. My disk was showing a user with FFFFEEEE-DDDD

Couple of restarts and suddenly kernel panic.

[2018-06-04 00:24] fekezue opened #85 "/usr/local/bin/virtualenvwrapper.sh: No such file or directory"
Every time I open my terminal prompt, I am getting this error and all my attempt to resolve it has failed. Anyone seen this before?

**-bash: /usr/local/bin/virtualenvwrapper.sh: No such file or directory**
**warning: could not open directory '.lldb/': Permission denied**

Thanks

Fidelis

[2018-06-30 15:33] mcometa opened #86 "Revert everything and start all over again"
Is it possible to remove and revert then install all over again? Please tell me how. Thank you.

[2018-07-06 23:51] congcong009 opened #88 "setup fail under macOS High Sierra"
I tried 3 times and I still got error like below.
![screen shot 2018-07-05 at 13 42 21](https://user-images.githubusercontent.com/2680017/42404322-9b3c0bba-81ba-11e8-95a0-063272b2d24e.png)

Meanwhile my terminal showed above message every time.
![screen shot 2018-07-06 at 23 30 21](https://user-images.githubusercontent.com/2680017/42404358-d61721c0-81ba-11e8-8847-98b838db1711.png)

My system info

[2018-10-17 05:51] mcometa opened #89 "How do I remove everything?"
How do I remove everything completely and start from scratch?

[2018-10-17 18:18] johnwyles commented on #89
Reformat your machine :)

[2018-10-17 18:25] johnwyles opened #91 "Dead project?"
This looks like this might be a dead or dying project but I find the feature very useful when it is needed. Unfortunately when you need this is only once every couple of years. However, with the premise of a community project, it needs to be up to date practically daily.

That said, it looks like within a half-day this project could be cleaned up - bug fixes closed, PRs doctored or merged/closed.

[2018-10-17 21:48] johnwyles commented on #88
Where does this come from?

[2018-10-17 21:52] johnwyles commented on #88
I will also add that these issues happen with bash autocompletion:

```$ ls -al /Applicat[TAB]-bash: printf: `words[0]': not a valid identifier
-bash: printf: `words[1]': not a valid identifier
-bash: printf: `words[2]': not a valid identifier
-bash: ${prev,,}: bad substitution
[code]

[2018-10-19 14:21] baccione commented on #80
This editing of my .bashrc solved this issue to me (note, I am using python3 in VIRTUALENVWRAPPER_PYTHON - with /usr/bin/python throws the error above also for me).

if [ -f ~/.local/bin/virtualenvwrapper.sh ] ; then
  export WORKON_HOME=~/.virtualenvs
  export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
  export VIRTUALENVWRAPPER_VIRTUALENV=~/.local/bin/virtualenv
  source ~/.local/bin/virtualenvwr

[2018-11-16 15:15] swankalot commented on #80
baccione, thank you.
My error was similar to Jiahui-z (could not import the module virtualenvwrapper.hook_loader. check that virtualenvwrapper has been installed for
VIRTUALENVWRAPPER_PYTHON=/usr/bin/python and that PATH is
set properly.)
baccione's fix follows the instructions given here:
https://virtualenvwrapper.readthedocs.io/en/latest/install.html#python-interpreter-virtualenv-and-path
but ch

[2018-12-15 23:08] adityarpillai commented on #91
I’m actually writing a project very similar to this with Ansible. When I did a little bit of research, I came across this repository. In contrast to this repository however, Ansible easily allows you to customize what the user wants to be installed as well as have more flexibility than shell scripts.

If you want to contribute to a project that will receive a lot of TLC, feel free to join me.

htt

[2018-12-26 00:10] johnwyles commented on #91
this one appears a bit out of date - i made one of my own a couple of months ago: https://github.com/johnwyles/bootstrap-macos - there is also one that caught my eye: https://github.com/joeyhoer/starter - a large majority of them are out of date so save yourself some time and start with these two and if you find something else or roll your own please share it back here!

[2018-12-26 00:17] johnwyles commented on #91
@dportabella new laptop for christmas? 🤣

[2018-12-26 00:31] dportabella commented on #91
cool, i took a look at https://github.com/johnwyles/bootstrap-macos and it seems up-to-date. I'll tailor it to my needs now.
It's actually not a new laptop; Just a fresh new installation. :)

[2018-12-26 01:03] adityarpillai commented on #91
I actually renamed the project, it’s now at https://www.github.com/adityarpillai/jumpstart

I originally started out with a shell script similar to what you used, but for flexibility I modified the project to use Ansible. Documentation for how to use the script is fairly extensive, and I hope to keep it well documented so that people can clearly understand what the program does by default.

Moreov

[2018-12-26 01:17] johnwyles commented on #91
yeah, I prefer a more generic approach. I wish I had caught wind of yours before I had already plowed through all the various fits-and-starts with min. The one I have written is not and very tailored and prescribed. I think a lot of the bit-rot of all these project stems from: a) the fact that once written  forget to contribute back to it or maintain it as the tools update / evolve / change b) (in

[2018-12-26 01:43] dportabella commented on #91
i took a look at your repo jumpstart, but it seems mostly empty (no virtualbox, intellij, heroku, aws, mysql, core brew utils...).
the project is still under development, right?

[2018-12-26 01:49] adityarpillai commented on #91
Yes, of course. I was playing around with the structure of the Ansible project first, getting customization to work with the installation of programs. Now that that’s done, I anticipate to include everything you mentioned and more.

[2018-12-26 01:53] johnwyles commented on #91
@adityarpillai to get a jumpstart (heh) on flushing out your project you can pick-and-choose whatever you like from mine - no problem at all - all I want at the end of the day is a better way to manage this! I suggest finding a way to conscript whatever I have automatically into ansible. For some big early gains it seems like you could just hack together a script that will just throw a ton of scri

[2018-12-26 02:05] johnwyles commented on #91
PS: Let's talk about this on whichever project page in a bug or some other means and not in this ticket - just `@` my github handle

[2019-02-09 14:32] donnemartin commented on #91
Hey all, sorry been really busy.  I'm starting to free up and I plan to be more active with this project.

[2019-02-09 14:32] #91 closed

[2019-02-09 14:33] donnemartin commented on #89
Yes, you'll have to do a fresh install.

[2019-02-09 14:33] #89 closed

[2019-02-09 14:37] donnemartin commented on #86
Hi @mcometa you'll need to do a fresh install of macOS.

[2019-02-09 14:37] #86 closed

[2019-02-09 15:01] donnemartin commented on #85
Hi @fekezue, check out https://github.com/donnemartin/dev-setup/issues/80 which might be related to the virtualenvwrapper issue you're seeing.  Does that address it?  I haven't seen the lldb warning.

[2019-02-09 16:54] johnwyles commented on #91
@donnemartin while it would be beneficial to merge in what PRs and clean up the issues here that you have I would also highly encourage you to look at what @adityarpillai has put together (https://github.com/adityarpillai/jumpstart) as an ansible (minor dependency) approach to what is a less prescriptive and more customizable/adaptive approach than either my project (https://github.com/johnwyles/b

[2019-02-10 11:17] donnemartin commented on #91
Thanks @johnwyles, I'll take a closer look and consider it.

[2019-02-10 11:38] #84 closed

[2019-02-10 11:39] donnemartin commented on #84
@gitetsu thanks for reporting, this should be fixed with #90.

[2019-02-15 11:29] #73 closed

[2019-06-12 07:55] kevinrook opened #99 "Setup Errors on macOS Mojave"
After running the setup on a fresh MacOS Mojave installation i now get a long list of errors when opening Terminal or iTerm2

Warning: could not open directory 'Libary/Application Support/XXXXXXX :Operation not Permitted

same for many folders.
'Libary/IdentityServices'
'Libary/Messages'
'Libary/HomeKit
'Libary/Mail'
'Libary/Safari'
etc

i ran the full installation as it was a fresh install on my

[2019-07-25 06:00] #88 closed

[2019-12-14 01:42] skiwheelr opened #102 "DO NOT USE THIS WITH MOJAVE"
I have had about 5 of these issues plus many more within the first 5 hours of using this. now i have to reformat again and just download everything manually.

it is a shame because it is a really good idea but there are just way too many conflicts, particularly pertaining to virtualbox stuff, python, and bash.

maybe leave that out.. the custom script option was too complicated to edit so i just r

[2019-12-14 01:44] skiwheelr commented on #80
this totally sucks. i dont want to use a bandaid in my .bashrc file to hide that things are screwy, especially since the whole point of these scripts is to give a good starting point for newly formatted systems. what other skeletons will turn up in 2 weeks.. 2 months.. when my system is built?

[2019-12-14 01:46] #102 closed, assigned to nobody

[2019-12-14 01:48] skiwheelr commented on #80
this did not work

[2019-12-14 19:06] skiwheelr commented on #85
Okay so if you just want to get rid of the messages when terminal starts, do this:
or, like I did..just uninstall virtualenvwrapper

sudo pip uninstall virtualenvwrapper
and then install it with easy_install
sudo easy_install virtualenvwrapper
this time I found the file "/usr/local/bin/virtualenvwrapper.sh" installed... Before that I weren't finding that file anywhere even by this command
find / -

[2020-03-19 12:44] carlasplund commented on #80
Remove the space in "export VIRTUALENVWRAPPER_VIRTUALENV=~ /.local/bin/virtualenv".

[2020-03-20 15:43] Kipngetich33 commented on #85
Thanks @skiwheelr your solution helped me out

[2020-06-09 10:03] xrybrsx commented on #80
I had the same issue. The following worked for me:
I tried "$ which python3" and "$ which virtualenvwrapper.sh" and just modified the bash source file accordingly.
This is my ~./bash_profile file:

[code]

Hope it helps.

[2020-09-05 05:48] biwin commented on #85
Run the command, but not press `y`

    pip uninstall virtualenvwrapper

this will print the location of `virtualenvwrapper.sh` on the terminal

[code]
where **`/home/xyx/.local/bin/virtualenvwrapper.sh`** is where the file is.., add the following to your `bashrc` or `zshrc`

    source /home/xyx/.local/bin/virtualenvwrapper.sh

then restart the shell. you are good to go.

[2021-08-21 07:14] blackdahlia118 opened #105 "-bash: /usr/bin/virtualenvwrapper.sh: No such file or directory"

[2021-08-21 07:35] blackdahlia118 commented on #105
First we have to find "virtualenvwrapper.sh" file then copy that file to " /usr/local/bin/ ".

1st step -:  FIND virtualenvwrapper.sh
Change directory -
                               cd /usr/share/virtualenvwrapper/
then list the files,you can see the FILE "virtualenvwrapper.sh"...
ls
Copy the FILE to " /usr/local/bin/ " -

cp virtualenvwrapper.sh  /usr/local/bin/
Then jump to "  /usr/local/bin/

[2021-08-21 07:35] #105 closed, assigned to nobody

[2021-08-21 07:37] blackdahlia118 commented on #85
https://github.com/donnemartin/dev-setup/issues/105#issuecomment-903075872

[2022-07-28 22:47] chimera-defi opened #107 "Please update to fix errors on macos monterey"
Ive been using this for a while, way too long maybe and just got a new mac.
I can understand why its unmaintained as the author doesnt need it anymore...

There's a few issues:
1. it borks the shell as it fails to install reqs, the default shell is different now, and the bashconfig seems to now be invalid
2. it fails to properly install the brew deps due to the command being deprecated the way its

[2022-08-15 17:58] chimera-defi commented on #107
Will put up a pr soon

[2022-08-15 17:58] #107 closed, assigned to nobody